/* Page Specific CSS */
.top-container {
  margin: 0;
  text-align: center;
}

::placeholder {
  color: #343434;
  font-size: 16px;
}

.profile-picture {
  border-radius: 25px;
  max-width: 375px;
  margin: auto;
  /* opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden; */
}

/* .over-image-context {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .profile-picture {
  opacity: 0.3;
}

.image-container:hover .over-image-context {
  opacity: 1;
}

.image-text {
  color: white;
  padding: 16px 32px;
} */

.module {
  border: 3px solid #343434;
  border-radius: 20px;
  background-color: #99bbad;
  color: #464f41;
  margin: 15px;
  margin-right: 0;
  padding: 15px;
  text-align: left;
}

.module-one-heading {
  font-size: 24px;
  font-weight: 600;
  margin: auto 0;
}

.module p {
  display: inline;
  font-weight: 600;
}

.module hr {
  background-color: white;
  height: 2px;
  border: none;
  width: 95%;
}

.module-content-1 {
  text-align: center;
  height: 300px;
}

.module-content-1 hr {
  background-color: white;
  height: 2px;
  border: none;
  width: 95%;
}

.module-content-2 {
  padding: 0 10%;
  text-align: left;
}

.module-content-2 p {
  text-align: right;
}

.custom-input {
  background-color: transparent;
  border-radius: 5px;
  border-style: dashed solid;
  text-align: center;
}

.editOption {
  text-align: center;
  padding-top: 25px;
}

.editOption-workout {
  text-align: center;
}

.save-cancel-btn {
  border-radius: 10px;
  padding: 5px;
  width: 75%;
}

.col2-grid {
  display: grid;
  grid-template-columns: 125px auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  text-align: left;
  padding: 0 15px;
}

.col2-grid-auto {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  text-align: left;
}

/* Dropdown Options */
.dropdown-container {
  text-align: right;
}

.custom-select {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  border: dashed 1px;
  text-align: right;
  padding: 0 20px 0 10px;
  width: 50px;
  height: 35px;
}

/* Slider */
.slider-container {
  text-align: right;
}

.slider {
  width: 100%;
  max-width: 175px;
}

/* Goal Module */
.goalBtn-container {
  margin: auto;
  padding: 15px;
  width: 50%;
}

.goalBtn {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}

.goalBtn:hover {
  background-color: #ebd8b7;
}

/* Diet Module */
.dietBtn-container {
  margin: auto;
  padding: 10px;
  width: 45%;
}

.dietBtn {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}

.dietBtn:hover {
  background-color: #ebd8b7;
}

.dropdown-container-diet {
  padding: 10px;
  text-align: center;
}

.custom-select-diet {
  background-color: transparent;
  color: #464f41;
  font-size: 18px;
  font-weight: 600;
  border: dashed 1px;
  text-align: right;
  padding-left: 10px;
  padding-right: 20px;
  width: 215px;
  height: 35px;
}
