/* This is the CSS file for the base layout. Everything here is used only for
changing the style of the base html. This should helps eleminate complicated
mess when there are specific style each page requires. - Avoiding accidental
deletion/modification */

/* Layout CSS */
body {
  background-color: #343434;
}

h1, h2, h3, h4, h5 {}

p {
  font-size: 18px;
}

.top-nav {
  background-color: #343434F3;
}

.hamburgerMenu {
  font-size: 36px;
  color: #ebd8b7;
  border: none;
  text-decoration: none;
  text-align: left;
  background-color: transparent;
  padding: 15px;
  margin: 0;
}

.hidden-side-menu {
  display: block;
  height: 100%;
  width: 0;
  max-width: 360px;
  position: fixed;
  z-index: 1;
  top: 66px;
  float: left;
  background-color: #343434F3;
  overflow-x: hidden;
  transition: 0.25s ease-in-out;
  font-size: 18px;
}

/* Content Inside of Hidden Menu */
.hidden-side-menu {
  font-size: 28px;
  text-align: left;
}

.custom-action:hover, .custom-icon-text:hover {
  color: #99bbad;
  text-decoration: none;
}

.custom-icon {
  display: inline-block;
  padding: 25px 0 0 40px;
  color: #ebd8b7;
}

.custom-icon-text {
  color: #ebd8b7;
  display: inline-block;
  font-size: 24px;
}

.title-container {
  text-align: center;
}

.title, .title:hover {
  color: #ebd8b7;
  font-size: 36px;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}

.title:hover {
  color: #99bbad;
}

/* Responsive Layout */
#pageContainer {
  margin: 0 auto;
  width: 100%;
}

/* End Layout CSS */
